Source: youamp
Section: misc
Priority: optional
Maintainer: Pavel Rojtberg <pavel@rojtberg.net>
Build-Depends: debhelper (>= 7), python-support, python-distutils-extra
Standards-Version: 3.8.1
Homepage: http://www.rojtberg.net/workspace/youamp/

Package: youamp
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python (>= 2.6), python-gst0.10, python-gtk2,
 python-notify, python-dbus, gstreamer0.10-plugins-good, python-gconf, python-xdg, python-mutagen
Recommends: python-appindicator
Description: a lightweight music player
 YouAmp places the focus on playback features instead of fancy graphics. 
 It features itelligent replaygain selection, last.fm submission and gapless playback.
