[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=YouAmp
GenericName=Music Player
Exec=/opt/extras.ubuntu.com/youamp/youamp-player.py
Path=/opt/extras.ubuntu.com/youamp/
Icon=/opt/extras.ubuntu.com/youamp/youamp.svg
Terminal=false
Categories=GNOME;GTK;AudioVideo;Audio;Player;
